@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Inconsolata);

@media (max-width: 1199px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 20px;
  }
}
@media (min-width: 1600px) {
  html {
    font-size: 22px;
  }
}


body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
}

h2 {
  margin: 0 0 1rem 0;
  padding: 1rem;
  width: 100%;
  background-color: #8C1B1E;
  color: #fff;
  font-size: 3rem;
}

h3 {
  padding: 1rem;
  font-size: 2rem;
}

pre {
  padding: 1rem;
}

code {
  font-family: "Inconsolata";
}

@media (min-height: 1024px) {
  pre {
    font-size: 1.25rem;
  }
}

.MathJax_Display {
  background-color: #eee;
  padding: 1rem;
  font-size: 1.5rem;
}

.video_container {
  width: 100%;
}

.video {
  display: block;
  margin: 0 auto;
  width: 720px;
  height: 720px;
}

@media (min-width: 1200px) and (min-height: 1200px) {
  .video {
    width: 960px;
    height: 960px;
  }
}

#imperial-logo {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  height: 6rem;
}

#firedrake-banner {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  height: 6rem;
}

@media (max-width: 800px) {
  #imperial-logo {
    height: 4rem;
  }

  #firedrake-banner {
    height: 4rem;
  }
}
